@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  padding: 10px 0;
}

nav ul {
  list-style: none;
  margin-left: 100px;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  color: #333; /* Text color */
  text-decoration: none;
}

.dropdown {
  position: relative;
}

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 120%; /* Adjust the distance from the top */
    left: 0;
    z-index: 1000; /* Increase the z-index */
  }

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-arrow {
  margin-left: 5px;
}

.user-actions {
  float: right;
}

.signup-btn {
  margin-left: 15px;
  display: inline-block;
  padding: 7px 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 0px;
  text-decoration: none;
  color: black;
}

.branding {
  margin-left: 20px;
  font-size: 28px; /* Reduced font size */
  font-weight: bold;
}

.h6{
  margin-top: 60px;
  margin-left: 20px;
  font-size: small;
}

.h1{
  margin-left: 20px;
  margin-bottom: -5px;
  font-size: 40px;
  font-weight: bold;
}

.h2{
  margin-left: 20px;
  font-size: 40px;
  font-weight: bold;
}

.h3{
  margin-left: 20px;
  margin-top: -5px;
  font-size: 40px;
  font-weight: bold;
}

.h7{
  margin-left: 20px;
  font-size: small;
}

.h8{
  margin-left: 20px;
  font-size: small;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.gta-container {    
  margin-top: 10px; /* Adjust the margin to move the container away from the image */
  margin-bottom: 30px;
  margin-left: 50px;
  z-index: 1000;
}

.gta-btn{
  background-color: black;
  border: 1px solid white;
  color: white;
  border-radius: 0px;
  padding: 7px 10px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-image {
  max-width: 85%;
  max-height: 85%;
}


.additional-content {
  position: absolute;
  top: 100px;
  right: 0;
  width: 30%;
  padding: 20px;
}

.cta-container {
  margin-bottom: 40px;
  margin-top: 35px;
  display: flex;
  align-items: center;
}

.play-button {
  padding-left: 3px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 0px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  margin-right: 10px; /* Adjust margin as needed */
}

.num{
  font-size: 30px;
}

.num2{
  font-size: 30px;
}

.image-container2{
  margin-top: 20px;
  max-width: 100px;
  max-height: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: end;
}
.p{
  margin-left: 50px;
}
.image-container3{
  margin-left: 50px;
  max-width: 200px;
}